<html>
<head>
    <title>Nosso Template</title>

</head>

<body>
<h1>Essa é a nossa aplicação</h1>


{% block conteudo %}

{% endblock %}

<footer>
    Todos Direitos reservados 2015.
</footer>
</body>


</html>